@font-face {
	font-family: at_icon;
	src: url(../font/font_1/fonts/icomoon.ttf) format('truetype');
}

@font-face {
	font-family: at_border1;
	src: url(../font/border/bordc1__.ttf) format('truetype');
}

@keyframes r1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes r2 {
	0%   { transform: rotate(0deg); }
	50% { transform: rotate(-260deg); }
	100% { transform: rotate(0deg); }
}


.main{
	position	:absolute;
	top			:0;
	left		:0;
	bottom		:0;
	right		:0;
	margin		:auto;
	background	:#90ffc0;
	width		:500px;
	height		:400px;
}

.guard{
	position	:absolute;
	top			:0;
	left		:0;
	bottom		:0;
	right		:0;
	margin		:auto;
	width		:500px;
	height		:400px;
	z-index		:50;
}

.hand{
	display		:inline-block;
	position	:absolute;
	top			:200px;
	left		:250px;
	height		:50px;
	line-height	:50px;
	width		:50px;
	text-align	:center;
	color		:#d0a060;
	z-index		:100;
	font-size	:40px;
	font-family	:at_icon;
	cursor		:pointer;
	text-shadow	:2px 2px 2px #303030;
}

.card_bk{
	display		:inline-block;
	position	:absolute;
	height		:80px;
	width		:50px;
	border		:5px solid #fafafa;
	background	:linear-gradient(#90a0ff,#6080ff);
	border-radius:10px;
	transform-origin: center;
}

#c0{
	top:40px;
	left:40px;
//	animation		:r1 10s linear infinite;
	transform-origin: 0px 25px;
}

#c1{
	top:40px;
	right:40px;
//	animation		:r2 6s linear infinite;
	transform-origin: 0px 25px;
}



