a{
	text-decoration:none;
	color: initial;
}		

.timeline-Footer{font-size:0 !important}

ul {
	margin-block-start	:0;
	margin-block-end	:0;
	margin-inline-start	:0;
	margin-inline-end	:0;
	padding-inline-start:0;
}
.body{
	background	:#fafafa;
	text-align	:center;
	margin		:0;
	padding		:0;
	line-height	:1.2;
	color		:#333;
	font-size	:0;
	font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	text-align	:center;
	width		:100vw;
}

.left{
	position	:fixed;
	top			:0;
	left		:0;
	width		:180px;
	height		:100vh;
	background	:#ffc0a0;
	box-shadow	:2px 2px 5px rgba(60,60,60,0.5);	
	z-index:20;
}

.main{
	position	:fixed;
	top			:0px;
	left		:180px;
	width		:calc(100vw - 180px);
	height		:100vh;
	background	:#fafafa;
	box-shadow	:2px 2px 5px rgba(60,60,60,0.5);	
	overflow	:scroll;
	padding		:10px;
	text-align:left;
}


.menu_ul{
	width		:180px;
}

.menu{
	position		:relative;
	display			:inline-block;
	text-align		:left;
	width			:170px;
	height			:40px;
	line-height		:40px;
	margin			:0 auto;
	border-bottom	:1px solid #101010;
	cursor			:pointer;
}

.menu_comm{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:35px;
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	text-align		:left;
	font-size		:18px;
	margin			:auto;
}

.menu_icon{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:0px;
	display			:inline-block;
	width			:30px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	font-size		:22px;
	font-family		:at_icon;
	margin			:auto;
}


.main_box{
	display:inline-block;
	margin:10px;
	vertical-align:top;
}


@media screen and (max-width: 559px){
.head_menu{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:2vw;
	bottom			:0; 
	margin			:auto;
	width			:10vw;
	height			:10vw;
	line-height		:10vw;
	text-align		:center;
	border			:1px solid #c8b880;
	border-radius	:1vw;
	cursor			:pointer;
}
}

