a{
	text-decoration:none;
	color: initial;
}

.body{
	background:#101513;
	text-align:center;
}

.head{
	position		:fixed;
	top				:0;
	left			:0;
	display			:flex;
	width			:100vw;
	height			:70px;
	margin			:0 auto;
	background		:#101213;
	text-align		:center;
	box-shadow		:5px 5px 5px rgba(100,50,0,0.6);
	z-index			:10;
}

.menu-item{
	display		:inline-block;
	height		:50px;
	width		:150px;
	flex-basis	:150px;
	line-height	:50px;
	background	:#252018;
	border		:2px solid #c08000;
	margin		:10px 5px;
	text-align	:center;
	overflow	:hidden;
	cursor		:pointer;
}

.menu-item a{
	color		:#FFD67D;
	font-size	:18px;
	font-weight	:600;
	display		:inline-block;
	width		:100%;
	height		:50px;
	line-height	:50px;
	text-align:center;
}

.menu-item a:hover{
	background:linear-gradient(#ffd080,#e0b060);
	color		:#fafafa;
}

.main{
	display		:flex;
	flex-wrap	:wrap;
	width		:1020px;
	text-align	:center;
	margin		:90px auto 20px auto;
	font-size	:0;
	min-height:95vh;
}

.slide{
	display		:inline-block;
	position	:relative;
	width		:1020px;
	flex-basis	:1020px;
	height		:380px;
	background	:#101513;
	margin		:0;
}

.slide_img{
	position	:absolute;
	display		:inline-block;
	top			:10px;
	left		:0;
	right		:0;
	width		:800px;
	height		:300px;
	background	:#fafafa;
	margin		:auto;
}

.slide_point{
	position		:absolute;
	display			:inline-block;
	bottom			:15px;
	left			:0;
	right			:0;
	width			:260px;
	height			:40px;
	background		:#303538;
	margin			:auto;
	border-radius	:10px;
	text-align		:center;
	border			:2px solid #c08000;
}

.slide_dot{
	display			:inline-block;
	width			:16px;
	height			:16px;
	background		:#faf0a0;
	margin			:12px;
	border-radius	:8px;
}


.main_b{
	display		:inline-block;
	border		:2px solid #c08000;
	flex-basis	:680px;
	width		:680px;
	background	:#302520;
	text-align	:left;
}

.main_b_all{
	display		:inline-block;
	width		:1020px;
	background	:#302520;
	text-align:left;
}

.main_b_title{
	display		:inline-block;
	width		:662px;

	height		:40px;
	line-height	:40px;
	color		:#fafafa;
	background	:#000000;
	margin		:5px;
	font-size	:18px;
	font-weight	:600;
	border		:2px solid #c08000;
	padding-left:5px;
}

.main_b_1{
	position	:relative;
	display		:inline-block;
	width		:150px;
	height		:200px;
	background	:#000000;
	margin		:5px;
	border:5px solid #fafafa;
}

.main_b_1_1{
	display		:inline-block;
	width		:150px;
	height		:200px;
}

.main_b_1_3{
	position	:absolute;
	display		:none;
	bottom		:5px;
	left		:5px;
	width		:136px;
	height		:186px;
	border		:2px solid #906000;
	z-index		:11;	
}	
.main_b_1_2{
	position	:absolute;
	display		:inline-block;
	bottom		:5px;
	left		:5px;
	width		:130px;
	height		:50px;
	background	:rgba(245,245,245,0.6);
	color		:#906000;
	font-size	:18px;
	font-weight	:600;	
	padding		:5px;
	text-shadow	:
		 1px  1px 1px #fafafa,
		 1px  0px 1px #fafafa,
		 1px -1px 1px #fafafa,
		-1px  1px 1px #fafafa,
		-1px  0px 1px #fafafa,
		-1px -1px 1px #fafafa,
		 0px  1px 1px #fafafa,
		 0px -1px 1px #fafafa
		;
}

.main_c{
	display		:inline-block;
	flex-basis	:312px;
	width		:312px;
	background	:#302520;
	border		:2px solid #c08000;
	margin		:0 5px auto 5px;
	padding		:0 5px;
	text-align	:center;

}

.main_c_1{
	display		:inline-block;
	width		:300px;
	background	:#fafafa;
	margin		:5px auto;
	padding		:5px;
	border-bottom:2px solid #9060ff;
	font-size	:14px;
	text-align	:left;
	box-shadow	:5px 5px 10px 10px rgba(200,200,200,0.4) inset,-5px -5px 10px 10px rgba(200,200,200,0.4) inset;
	color:#606060;
}

.foot{
	display		:inline-block;
	width		:1020px;
	height		:100px;
	background	:#101213;
	margin		:0 auto;
	border		:2px solid #c08000;
	background	:#302520;
}

