a{
	text-decoration:none;
	color: initial;
}
ul {
	margin-block-start:0;
	margin-block-end:0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start:0;
}
.body{
	background	:#101513;
	text-align	:center;
	margin		:0;
	padding		:0;
	line-height	:1.2;
	color		:#333;
	font-size	:0;
	font-family	:Verdana, "ＭＳ Ｐゴシック", sans-serif;
	text-align	:center;
	width		:99vw;
}

.icon{
	font-family:at_icon;
}

.head_menu{
	display:none;

}

.menu{
	display		:block;
	text-align	:center;
	width		:1200px;
	margin		:0 auto;
	font-size	:0;
	padding:0;
}

.main{
	display		:none;
	background	:#051010;
	background	:#101513;

	text-align	:center;
	width		:1200px;
	min-height	:90vh;
	margin		:0 auto;
	padding-top	:70px;
	font-size	:0;
	vertical-align:top;
}

.main_top{
	display		:inline-block;
	text-align	:center;
	width		:1200px;
	min-height	:80vh;
	margin		:0 auto;
	font-size	:0;
	vertical-align:top;
}

.head{
	position	:fixed;
	top			:0;
	left		:0;
	right		:0;
	display		:flex;
	width		:100vw;
	height		:70px;
	margin		:auto;
	background	:linear-gradient(#3a3a3a,#1a1a1a);
	text-align	:center;
	z-index		:120;
	padding:0;
}

.menu-item{
	display		:inline-block;
	height		:50px;
	width		:150px;
	flex-basis	:150px;
	line-height	:50px;
	background	:#252018;
	border		:1px solid #c8b880;
	margin		:10px 5px;
	text-align	:center;
	overflow	:hidden;
	cursor		:pointer;
}

.menu-item a{
	color		:#c8b880;
	font-size	:18px;
//	font-weight	:600;
	display		:inline-block;
	width		:100%;
	height		:50px;	
	line-height	:50px;
	text-align	:center;
}

.menu-item a:hover{
	background	:linear-gradient(#e0d098,#c8b880);
	color		:#fafafa;
}


.slide{
	display		:inline-block;
	position	:relative;
	width		:1200px;
	flex-basis	:1200px;
	height		:580px;
	margin		:0 auto;
	overflow	:hidden;
}

.slide_img{
	position	:absolute;
	display		:inline-flex;
	top			:0;
	left		:0;
	right		:0;
	width		:6000px;
	height		:480px;
	background	:#fafafa;
	margin		:auto;
	font-size	:0;
}

.top_img{
	width			:1200px;
	height			:480px;
	
}

.slide_point{
	position		:absolute;
	display			:inline-flex;
	justify-content	:space-evenly;
	bottom			:30px;
	left			:0;
	right			:0;
	width			:290px;
	height			:40px;
	line-height		:40px;
	background		:#303538;
	margin			:auto;
	border-radius	:10px;
	text-align		:center;
	border			:2px solid #c8b880;
}

.slide_dot{
	display			:inline-block;
	width			:16px;
	height			:16px;
	background		:#fafafa;
	border-radius	:8px;
	margin-top		:12px;
	margin-bottom	:12px;
}

.dot_on{
	background		:#faf0a0;
	box-shadow:0px 0px 5px 5px rgba(250,250,220,0.7) ;
}

.cast_tag{
	display			:inline-flex;
	width			:1200px;
	text-align		:left;
	height			:40px;
	overflow		:hidden;
}

.cast_tag_box{
	display			:inline-block;
	position		:relative;
	width			:150px;
	flex-basis		:150px;
	height			:40px;
	line-height		:40px;
	margin			:0;
	background		:#302520;
	text-align		:left;
	font-size		:16px;
	border-radius	:0 25px 0 0;
	font-weight		:700;
	color			:#c8b880;
	border			:1px solid #c8b880;
	padding-left	:5px;
	cursor:pointer;
}

.cast_tag_box_sel{
	background		:#c8b880;
	color			:#fafafa;
}

.main_b{
	display			:inline-block;
	border			:1px solid #c8b880;
	width			:870px;
	margin			:0;
	vertical-align	:top;
}

.main_b_in{
	display			:inline-block;
	width			:860px;
	text-align		:left;
	background		:#302520;
	vertical-align	:top;
	padding			:5px;
}

.main_b_all{
	display			:inline-block;
	width			:1020px;
	background		:#302520;
	text-align		:left;
	min-height		:90vh;
}

.main_b_title{
	display			:inline-block;
	width			:846px;
	height			:40px;
	line-height		:40px;
	color			:#aa8020;
	background		:linear-gradient(#c8b880 0%, #e0d098 50% , #c8b880 100%);
	margin			:5px;
	font-size		:18px;
	font-weight		:600;
	padding-left	:5px;
	text-align		:left;
}

.main_b_1{
	position	:relative;
	display		:inline-block;
	width		:180px;	
	height		:240px;
	background	:#000000;
	margin		:8px;
	border		:9px solid #fafafa;
}

.main_b_1_1{
	display		:inline-block;
	width		:180px;
	height		:240px;
}

.main_b_1_2{
	position	:absolute;
	display		:inline-block;
	bottom		:10px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:150px;
	height		:50px;
	background	:rgba(245,245,245,0.8);
	padding		:5px;
}

.main_b_1_2_name{
	display		:inline-block;
	width		:130px;
	height		:25px;
	line-height	:25px;
	color		:#606040;
	font-size	:16px;
	font-weight	:600;	
}

.main_b_1_2_sch{
	display		:inline-block;
	width		:130px;
	height		:25px;
	line-height	:25px;
	color		:#3030c0;
	font-size	:16px;
	font-weight	:600;	
}

.main_b_1_3{
	position	:absolute;
	display		:none;
	bottom		:10px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:156px;
	height		:216px;
	border		:2px solid #906000;
	z-index		:11;	
}	

.main_c{
	display		:inline-block;
	width		:310px;
	background	:#302520;
	border		:1px solid #c8b880;
	margin		:0 5px auto 10px;
	padding		:0;
	text-align	:center;
}

.main_c_1{
	display		:inline-block;
	width		:310px;
	background	:#fafafa;
	margin		:5px auto;
	padding		:0;
	border-bottom:2px solid #9060ff;
	font-size	:14px;
	text-align	:left;
	box-shadow	:5px 5px 10px 10px rgba(200,200,200,0.4) inset,-5px -5px 10px 10px rgba(200,200,200,0.4) inset;
	color		:#606060;
}

.main_d{
	display			:inline-block;
	width			:1200px;
	min-height		:90vh;
	border			:1px solid #c8b880;
	text-align		:left;
	background		:#302520;
	margin			:0;
	vertical-align	:top;
	padding			:5px;
}


.main_d_1{
	position	:relative;
	display		:inline-block;
	width		:210px;	
	height		:280px;
	background	:#000000;
	margin		:10px;
	border		:5px solid #fafafa;
}

.main_d_1_1{
	display		:inline-block;
	width		:210px;
	height		:280px;
}



.main_d_1_2{
	position	:absolute;
	display		:inline-block;
	bottom		:10px;
	left		:10px;
	width		:170px;
	height		:50px;
	background	:rgba(245,245,245,0.8);
	padding		:10px;
}

.main_d_1_2_name{
	display		:inline-block;
	width		:130px;
	height		:25px;
	line-height	:25px;
	color		:#606040;
	font-size	:16px;
	font-weight	:600;	
}

.main_d_1_2_sch{
	display		:inline-block;
	width		:130px;
	height		:25px;
	line-height	:25px;
	color		:#3030c0;
	font-size	:16px;
	font-weight	:600;	
}

.main_d_1_3{
	position	:absolute;
	display		:none;
	bottom		:10px;
	left		:10px;
	width		:186px;
	height		:256px;
	border		:2px solid #906000;
	z-index		:11;	
}	

.main_c{
	display		:inline-block;
	width		:310px;
	background	:#302520;
	border		:1px solid #c8b880;
	margin		:0 5px auto 10px;
	padding		:0;
	text-align	:center;
}

.main_c_1{
	display		:inline-block;
	width		:310px;
	background	:#fafafa;
	margin		:5px auto;
	padding		:0;
	border-bottom:2px solid #9060ff;
	font-size	:14px;
	text-align	:left;
	box-shadow	:5px 5px 10px 10px rgba(200,200,200,0.4) inset,-5px -5px 10px 10px rgba(200,200,200,0.4) inset;
	color		:#606060;
}




.foot{
	display		:inline-block;
	width		:100%;
	height		:100px;
	margin		:10px auto 0 auto;
	border-top	:1px solid #c8b880;
	background	:#051010;
	background	:linear-gradient(#1a1a1a,#3a3a3a);
}

.access_map{
	flex-basis	:650px;
	height		:300px;
	background	:#fafafa;
	color		:#303030;
	margin		:10px;
}

.access_map_in{
	width:650px;
	height:300px;
}

.access_table{
	border		:1px solid #c8b880;
	display		:flex;
	width		:1020px;
	margin		:5px auto;
	height		:320px;
	position	:relative;
	background	:#302520;
}

.access_sig{
	display		:inline-block;
	flex		:1;
	background	:#909090;
	margin		:10px;
	font-size	:0;
	text-align	:center;
	border-radius:10px;
}


.access_h1{
	font-size	:24px;
	font-weight	:800;
	display		:block;
	width		:250px;
	height		:40px;
	line-height	:40px;
	padding		:0;
	text-align	:left;
	color		:#fafafa;
	margin-block-start:0;
	margin-block-end:0;
	margin:5px auto 20px auto;
	border-bottom: 2px dotted #fafafa;
}

.access_tag{
	font-size	:14px;
	font-weight	:800;
	width		:250px;
	height		:18px;
	line-height	:18px;
	padding		:0;
	text-align	:left;
	color		:#fafafa;
	border-bottom: 1px solid #fafafa;
	margin		:20px auto 5px auto;
}

.access_box{
	font-size		:13px;
	line-height		:18px;
	width			:250px;
	padding			:0;
	text-align		:left;
	color			:#fafafa;
	margin-bottom	:10px;
	margin			:5px auto;
}

.system_title{
	font-size		:15px;
	font-weight		:800;
	margin			:10px auto 5px auto;
	width			:780px;
	text-align		:left;
}

.system_box{
	font-size:15px;
	margin:5px auto 15px auto;
	width:780px;
	text-align:left;
	background:inear-gradient(90deg,green 0%, green 50%, orange 50%, orange 100%),linear-gradient(black 0%, black 50%);
}

.system_box_1{
	display			:inline-block;
	width			:200px;
	height			:20px;
	line-height		:20px;
}

.system_box_2{
	display:inline-block;
	width			:80px;
	height			:20px;
	line-height		:20px;
	text-align		:right;
}

.system_box_3{
	display			:inline-block;
	width			:200px;
	height			:20px;
	line-height		:20px;
	text-align		:right;
}

.footmark{
	height	:20px;
	width	:1150px;
	margin	:10px auto;
	text-align:left;

}

.footmark_box{
	display			:inline-block;
	height		:20px;
	min-width	:80px;
	margin		:0 3px;	
	text-align	:left;
	cursor		:pointer;
}

.box_a{
	text-decoration:none;
	border-bottom:1px solid #c8b880;
}

.footmark_icon{
	display		:inline-block;
	width		:18px;
	height		:20px;
	line-height	:20px;
	text-align	:center;
	font-size	:15px;
	font-family	:at_icon;
	color		:#c8b880;
	vertical-align:middle;
}

.footmark_text{
	display		:inline-block;
	height		:20px;
	line-height	:20px;
	text-align	:left;
	font-size	:15px;
	color		:#c8b880;
	max-width	:500px;
	overflow	:hidden;
	vertical-align:middle;
}

.blog_list{
	display			:inline-block;
	position		:relative;
	width			:330px;
	height			:110px;
	margin			:5px;
	text-align		:left;
	text-decoration	:none;
	background		:#fafafa;
}

.blog_list_img{
	position	:absolute;
	top			:4px;
	left		:4px;
	width		:100px;
	height		:100px;
	border:1px solid #303030;
}

.blog_list_comm{
	position:absolute;
}

.blog_list_title{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	left			:120px;
	width			:205px;
	height			:50px;
	line-height		:24px;
	margin			:0 auto;
	text-align		:left;
	font-size		:17px;
	font-weight		:700;
	vertical-align	:top;
	overflow:hidden;
}

.blog_list_tag{
	display			:inline-block;
	position		:absolute;
	top				:35px;
	left			:110px;
	width			:215px;

	height			:18px;
	line-height		:18px;
	text-align		:left;
	font-size		:15px;
}

.blog_list_cast{
	display			:inline-block;
	position		:absolute;
	bottom			:2px;
	right			:2px;
	width			:185px;
	height			:50px;
	margin			:0 auto;
	text-align		:left;
	font-size		:0;
	border-radius:25px 0 0 0;
}


.blog_list_castimg{
	position	:absolute;
	left		:0;
	top			:0;
	right		:0;
	margin		:auto;
	width		:50px;
}

.blog_list_frame_a{
	position	:absolute;
	right		:0;
	bottom		:0;
	width		:50px;
	height		:50px;
	overflow	:hidden;
	border-radius:50%;
	background:#ff80a0;
	border:1px solid #ff90a0;
}


.blog_list_date{
	position	:absolute;
	right		:55px;
	bottom		:2px;
	font-size	:13px;
	text-align	:right
}

.blog_list_castname{
	position	:absolute;
	right		:55px;
	bottom		:20px;
	font-size	:16px;
	font-weight	:600;
	text-align	:right
	
}

.blog_h1{
	display		:inline-block;
	position	:relative;
	width		:300px;
	height		:40px;
	background	:linear-gradient(90deg,#c8b880,#887840,#c8b880);
	background	:linear-gradient(90deg,#fff0b8,#c8b880,#fff0c0);
	margin:15px auto 5px auto;
}


.blog_h2{
	display		:inline-block;
	position	:absolute;
	top			:2px;
	left		:0;
	width		:300px;
	height		:36px;
	line-height	:36px;
	background	:#302520;
	text-align	:center;
	font-size	:20px;
	font-weight	:700;
	color		:#c8b880;
}


.all_cast{
	position		:relative;
	display			:inline-block;
	width			:300px;
	height			:60px;
	line-height		:60px;
	font-size		:0;
	border			:1px solid #303030;
	background		:#fafafa;
}

.all_cast_name{
	position		:absolute;
	bottom			:5px;
	left			:65px;
	color			:#303030;
	width			:230px;
	height			:35px;
	line-height		:35px;
	font-size		:20px;
	font-weight		:700;
	text-align		:left;
}

.all_cast_img{
	position		:absolute;
	top				:5px;
	left			:5px;
	width			:50px;
	height			:50px;
	overflow:hidden;
}

.all_cast_img_in{
	width			:100%;
}

.all_cast_icon{
	position		:absolute;
	top				:5px;
	left			:65px;
	color			:#303030;
	width			:20px;
	height			:15px;
	line-height		:15px;
	font-size		:13px;
	text-align		:center;
	font-family:at_icon;
}

.all_cast_last{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	left			:85px;
	color			:#303030;
	width			:160px;
	height			:15px;
	line-height		:15px;
	font-size		:13px;
	text-align		:left;
}

.all_cast_count{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	right			:5px;

	width			:40px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	font-weight		:600;
	text-align		:right;
	color			:#fafafa;
	background		:#c8b880;
	border-radius	:5px;
	padding-right:5px;
}

.all_tag{
	display			:inline-block;
	width			:300px;
	height			:30px;
	line-height		:30px;
	font-size		:0;
	border-bottom	:1px solid #c8b880;
	color			:#c8b880;
	text-align		:left;
}

.all_tag_name{
	display			:inline-block;
	color			:#c8b880;
	width			:215px;
	height			:30px;
	line-height		:30px;
	font-size		:14px;
	font-weight		:500;
	text-align		:left;
	vertical-align	:top;
}

.all_tag_icon{
	display			:inline-block;
	width			:30px;
	height			:30px;
	line-height		:30px;
	font-size		:20px;
	font-family		:at_icon;	
	text-align		:center;
	vertical-align	:top;
}

.all_tag_count{
	display			:inline-block;
	width			:40px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	font-weight		:600;
	text-align		:right;
	vertical-align	:top;
	color			:#302520;
	background		:#c8b880;
	border-radius	:5px;
	margin			:5px;
	padding-right	:5px;
}

.blog_ttl_border{
	display		:block;
	width		:660px;
	height		:3px;
	background	:linear-gradient(90deg,#ffffe0,#c8b880,#ffffe0);
	margin		:5px 10px 20px 10px;
}


.blog_ttl{
	display		:inline-block;
	text-align	:left;
	max-height	:68px;
	line-height	:34px;
	font-size	:24px;
	font-weight	:500;
	color		:#c8c0b0;
	overflow	:hidden;
	width		:650px;
	margin		:0 10px 40px 10px;
	margin-block-start:0;
	margin-block-end:0;
}

.blog_ttl_btm{
	display		:inline-block;
	position	:relative;
	width		:660px;
	height		:30px;
	margin-left	:10px;
}

.blog_ttl_tag{
	display		:inline-block;
	position	:absolute;
	bottom		:3px;
	left		:0;
	font-size	:13px;
	background	:#c8c0b0;
	text-align	:right;
	padding		:3px 10px;
	color		:#302520;
	font-weight	:500;
	border-radius:5px;
}

.blog_ttl_date{
	display		:inline-block;
	position	:absolute;
	bottom		:0;
	right		:0;
	width		:200px;
	height		:25px;
	line-height	:25px;
	font-size	:14px;
	color		:#c8c0b0;
	text-align:right;
}

.blog_top_img{
	text-align:center;
}

.blog_log{
	display		:block;
	width		:650px;
	min-height	:500px;
	font-size	:16px;
	color		:#c8c0b0;
	text-align	:left;
	margin		:0 auto;
	line-height	:25px;
}

.blog_img{
	margin:10px auto;
	width:300px;
	border:2px solid #fafafa;
	text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

.blog_calendar{
	width			:290px;
	border-collapse	:collapse;
	table-layout	:fixed;
	background		:#fafafa;
	background		:#302520;
	margin			:10px;
}

.blog_calendar_m{
	text-align		:center;
	height			:25px;
	line-height		:25px;
	font-size		:16px;
	border			:1px solid #c8b880;
	background		:#c8b880;
	color			:#302520;
	font-weight		:800;
}

.blog_calendar_n{
	text-align		:center;
	height			:25px;
	line-height		:25px;
	font-size		:20px;
	border			:1px solid #c8b880;
	background		:#c8b880;
	color			:#302520;
	font-family		:at_icon;
	cursor			:pointer;
}

.blog_calendar_w{
	text-align		:center;
	border			:1px solid #c8b880;
	height			:25px;
	line-height		:25px;
	font-size		:16px;
	color			:#c8b880;
}

.blog_calendar_d{
	position		:relative;
	text-align		:center;
	border			:1px solid #c8b880;
	height			:35px;
	line-height		:35px;
}
.cal,.cal1{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	height			:30px;
	line-height		:30px;
	width			:30px;
	font-size		:16px;
	color			:#c8b880;
	text-align		:center;
	font-weight		:600;
}

.cal1{
	border-radius	:15px;
	background		:#c8b880;
	color			:#302520;
	cursor:pointer;
}

.page_box{
	display		:inline-block;
	width		:680px;
	text-align	:center;
	height		:32px;
	margin		:10px auto 10px 0;;
	color		:#c8b880;
	overflow	:hidden;
	font-size	:0;
}

.page_n{
	display		:inline-block;
	text-align	:center;
	width		:30px;
	height		:30px;
	line-height	:30px;
	text-align	:center;
	margin		:0;
	border		:1px solid #e8d8a0;
	background	:#302520;
	font-size	:15px;
	cursor		:pointer;
}

.page_n:hover{
	background	:#807570;
}

.pg_f{
	border-radius:5px 0 0 5px ;
}

.pg_b{
	border-radius:0 5px 5px 0;
}

.pg_n{
	background	:#e8d8a0;
	color		:#302520;
}

.blog_cast_img{
	width		:260px;
	margin		:20px;
	border		:1px solid #e8d8a0;
}


@media screen and (max-width: 959px){

.footmark{
	width		:98vw;
}

.menu{
	position	:absolute;
	top			:14vw;
	left		:-46vw;
	width		:40.5vw;
	height		:100vh;
	background	:#303030;
	border		:1vw solid #303030;
}

.menu-item {
	height			:10vw;
	line-height		:10vw;
	width			:40vw;
	flex-basis		:40vw;
	margin			:0;
}

.main{
	display			:block;
	width			:100vw;
	padding-top		:14vw;
}

.main_top{
	width			:98vw;
}

.head{
	width			:100vw;
	height			:14vw;
	background		:#302520;

}


.head_menu{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:2vw;
	bottom			:0; 
	margin			:auto;
	width			:10vw;
	height			:10vw;
	line-height		:10vw;
	text-align		:center;
	border			:1px solid #c8b880;
	border-radius	:1vw;
	cursor			:pointer;
}

.menu_a{
	position		:absolute;
	top				:2.5vw;
	left			:1.5vw;
	height			:1px;
	width			:7vw;
	background		:#c8b880;
	transform-origin:right;
}

.menu_b{
	position		:absolute;
	top				:5vw;
	left			:1.5vw;
	height			:1px;
	width			:7vw;
	background		:#c8b880;
}

.menu_c{
	position		:absolute;
	top				:7.5vw;
	left			:1.5vw;
	height			:1px;
	width			:7vw;
	background		:#c8b880;
	transform-origin:right;
}

.slide{
	width		:100vw;
	flex-basis	:100vw;
	height		:40vw;
}

.slide_img{
	width		:500vw;
	height		:25vw;
	background	:#fafafa;
	margin		:auto;
	font-size	:0;
}

.slide_point{
	bottom			:3vw;
	width			:40vw;
	height			:6vw;
	line-height		:6vw;
	border-radius	:2vw;
	border			:0.5vw solid #c8b880;
}

.slide_dot{
	width			:2vw;
	height			:2vw;
	border-radius	:1vw;
	margin-top		:2vw;
	margin-bottom	:2vw;
}

.dot_on{
	box-shadow:0px 0px 0.5vw 0.5vw rgba(250,250,220,0.7) ;
}



.top_img{
	width		:100vw;
	height		:25vw;
}


.main_b{
	width			:98vw;
	margin			:0 auto;
}

.main_b_in{
	width			:98vw;
	padding			:0;
}

.main_b_title{
	width			:97vw;
	height			:8vw;
	line-height		:8vw;
	margin			:0 auto 1vw auto;
	font-size		:5vw;
	padding-left	:1vw;
}

.main_b_1{
	width			:45vw;	
	height			:60vw;
	background		:#000000;
	margin			:1vw;
	border			:1vw solid #fafafa;
}

.main_b_1_1{
	display			:inline-block;
	width			:45vw;
	height			:60vw;
}

.main_b_1_2{
	position		:absolute;
	display			:inline-block;
	bottom			:2vw;
	width			:38vw;
	height			:50px;
	background		:rgba(245,245,245,0.8);
	padding			:5px;
}

.main_b_1_2_name{
	display		:inline-block;
	width		:130px;
	height		:25px;
	line-height	:25px;
	color		:#606040;
	font-size	:16px;
	font-weight	:600;	
}

.main_b_1_2_sch{
	display		:inline-block;
	width		:130px;
	height		:25px;
	line-height	:25px;
	color		:#3030c0;
	font-size	:16px;
	font-weight	:600;	
}

.main_b_1_3{
	bottom		:2vw;
	width		:39.5vw;
	height		:55vw;
	border		:0.5vw solid #906000;
	z-index		:11;	
}	

.main_c{
	width		:98vw;
	height		:140vw;
	margin		:1vw auto;
	text-align	:center;
	overflow	:hidden;
}

.main_c_1{
	display		:inline-block;
	width		:310px;
	background	:#fafafa;
	margin		:5px auto;
	padding		:0;
	border-bottom:2px solid #9060ff;
	font-size	:14px;
	text-align	:left;
	box-shadow	:5px 5px 10px 10px rgba(200,200,200,0.4) inset,-5px -5px 10px 10px rgba(200,200,200,0.4) inset;
	color		:#606060;
}

.access_table{
	width		:98vw;
	margin		:1vw auto;
	height		:auto;
	flex-wrap	:wrap;
}

.access_sig{
	width			:90vw;
	margin			:1vw auto;
	font-size		:0;
	text-align		:center;
	border-radius	:2vw;
	margin			:1vw 2vw;
}

.access_tag{
	font-size		:4vw;
	width			:80vw;
	height			:8vw;
	line-height		:8vw;
	margin			:2vw auto 1vw auto;
}

.access_box{
	font-size		:3.5vw;
	line-height		:5vw;
	width			:80vw;
	margin-bottom	:4vw;
	margin			:1vw auto 2vw auto;
}


.access_h1{
	font-size	:6vw;
	width		:80vw;
	height		:12vw;
	line-height	:12vw;
	margin		:1vw auto;
}

}
@media screen and (max-width: 559px){

.access_map{
	flex-basis	:98vw;
	height		:70vw;
}

.access_map_in{
	width:90vw;
	height:70vw;
}


.access_table{
	flex-wrap	:wrap;
}


}
