.body{
	background	:#f0f0f0;
	text-align	:center;
	margin		:0;
	padding		:0;
	line-height	:1.2;
	color		:#333;
	font-size	:0;
	font-family	:Verdana, "ＭＳ Ｐゴシック", sans-serif;
	text-align	:center;
	width		:100vw;
}

.cal_table{
	border-collapse	:collapse;
	width			:40vw;
	border			:1px solid #303030;
}

.cal_next,.cal_prev{
	display		:inline-block;
	font-family	:at_icon;
	width		:5vw;
	height		:5vw;
	line-height	:5vw;
	font-size	:3.5vw;
	margin		:1vw;
}


.cal_top{
	height		:6vw;
	line-height	:6vw;
	text-align	:center;
	font-size	:4vw;
	background	:#fafafa;
}

.cal_td{
	width		:5vw;
	height		:5vw;
	line-height	:5vw;
	text-align	:center;
	font-size	:3vw;
	border		:1px solid #303030;
	background	:#fafafa;
}

.c1{
	background:#ff6060;
	
}
.c2{
	background:#dedede;
	
}
.c3{
	background:#90a0ff;
	
}


.mymenu_slide{
	position	:fixed;
	top			:0;
	left		:0;
	height		:120vh;
	background	:#f0fff5;
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
}



.mypage_menu{
	list-style-type	:none;
	background		:#ffd0d0;
	width			:40vw;
	padding			:0;
	margin			:0;
}

.menu_sel{
	background		:#d03030 !important;
}

.menu_1{
	display			:block;
	position		:relative;
	margin			:0 auto;
	width			:40vw;
	height			:12vw;
	border-bottom	:0.5vw solid #fafafa;
	background		:#f1a0a5;
	text-align		:left;
	font-size		:0;
}

.menu_i{
	font-family		: at_icon;
	display			:inline-block;
	position		:absolute;
	top				:0;
	margin			:0;
	width			:12vw;
	height			:12vw;
	line-height		:12vw;
	text-align		:center;
	font-size		:8vw;
	color			:#fafafa;
}

.menu_s{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:12vw;
	width			:28vw;
	height			:12vw;
	line-height		:12vw;
	text-align		:left;
	font-size		:6vw;
	color			:#fafafa;
	font-weight		:600;
}

.mypage_main{
	display			:inline-block;
	background		:#fafafa;
	width			:100vw;
	height			:100vh;
	max-width		:650px;
	margin			:0 auto;	
}

.login_box{
	display			:inline-block;
	width			:70%;
	border			:1vw solid #ffd0d0;
	box-shadow		:1vw 1vw 1vw rgba(30,30,30,0.6);
	border-radius	:2vw;
	margin			:10vh auto;
	padding			:1vw;
	background		:#fff0f5
	font-size		:5vw;
}

.login_name{
	display			:inline-block;
	width			:80%;
	font-size		:3.5vw;
	font-weight		:600;
	margin			:1vw auto 0.5vw 2vw;
	text-align		:left;
}

.login{
	width			:80%;
	font-size		:4.5vw;
	font-weight		:600;
	margin			:0 auto 0.5vw 1.5vw;
	height			:6vw;
}

.login_btn{
	width			:80%;
	font-size		:4vw;
	font-weight		:600;
	margin			:5vw auto;
	height			:8vw;
}



/*-------------------------------------------------------------------*/
@media screen and (min-width: 560px) {

.mypage_menu{
	width			:300px;
	height			:400px;
	padding			:20px;
	border-radius	:20px;
}

.login_box{
	border			:5px solid #ffd0d0;
	box-shadow		:5px 5px 5px rgba(30,30,30,0.6);
	border-radius	:10px;
	margin			:50px auto;
	padding			:5px;
}

.login_name{
	font-size		:16px;
	margin			:10px auto 5px 10px;
}

.login{
	font-size		:18px;
	margin			:0 auto 5px 15px;
	height			:30px;
}

.login_btn{
	width			:80%;
	font-size		:20px;
	margin			:15px auto;
	height			:40px;
}

.menu_1{
	width			:260px;
	height			:50px;
	line-height		:50px;
	font-size		:16px;
	border			:2px solid #fafafa;
	padding-left	:10px;
}


}
/*-------------------------------------------------------------------*/
@media screen and (min-width: 960px) {

.mypage_menu{
	width			:300px;
	height			:400px;
	padding			:20px;
	border-radius	:20px;
}

.login_box{
	border			:5px solid #ffd0d0;
	box-shadow		:5px 5px 5px rgba(30,30,30,0.6);
	border-radius	:10px;
	margin			:50px auto;
	padding			:5px;
}

.login_name{
	font-size		:16px;
	margin			:10px auto 5px 10px;
}

.login{
	font-size		:18px;
	margin			:0 auto 5px 15px;
	height			:30px;
}

.login_btn{
	width			:80%;
	font-size		:20px;
	margin			:15px auto;
	height			:40px;
}

.menu_1{
	width			:260px;
	height			:50px;
	line-height		:50px;
	font-size		:16px;
	border			:2px solid #fafafa;
	padding-left	:10px;
}

}
