.body{
	background	:#f0f0f0;
	text-align	:center;
	margin		:0;
	padding		:0;
	line-height	:1.2;
	color		:#333;
	font-size	:0;
	font-family	:Verdana, "ＭＳ Ｐゴシック", sans-serif;
	text-align	:center;
	width		:100vw;
}

.err{
	width			:60vw;
	height			:15vw;
	color			:#d00000;
	font-size		:3.5vw;
	border			:1vw solid #d00000;
	background		:#ffe0f0;
	margin			:0 auto;
	text-align		:center;
	line-height		:15vw;
}

.cal_box{
	display			:inline-block;
	height			:50vw;
}

.cal_table{
	border-collapse	:collapse;
	width			:44vw;
	border			:1px solid #303030;
	margin			:0.5vw auto;
}

.cal_next,.cal_prev{
	display			:inline-block;
	font-family		:at_icon;
	width			:4vw;
	height			:5vw;
	line-height		:5vw;
	font-size		:3.5vw;
	cursor			:pointer;
}

.cal_top{
	height		:6vw;
	line-height	:6vw;
	text-align	:center;
	font-size	:4vw;
	background	:#fafafa;
}

.cal_td{
	width		:5vw;
	height		:5vw;
	line-height	:5vw;
	text-align	:center;
	font-size	:3vw;
	border		:1px solid #303030;
	background	:#fafafa;
}

.c1{
	background:#ff6060;
}

.c2{
	background:#dedede;
}

.c3{
	background:#90a0ff;
}

.cc0{
	background:#fff0f0;
}

.cc6{
	background:#f0f0ff;
}

.mypage_head{
	position	:fixed;
	top			:0;
	left		:0;
	height		:10vw;
	width		:100vw;
	background	:#f0ffe0;
	z-index		:15;
	text-align	:left;
}

.mypage_slide{
	position	:fixed;
	left		:-100vw;		
	top			:0;
	padding-top	:10vw;
	height		:120vh;
	background	:#f0ffe5;
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
	z-index:12;
}

.mypage_menu{
	list-style-type	:none;
	background		:#ffd0d0;
	width			:45vw;
	padding			:0;
	margin			:0;
}

.menu_sel{
	background		:#d03030 !important;
}

.menu_out{
	background		:#008000 !important;
}

.menu_1{
	display			:block;
	position		:relative;
	margin			:0 auto;
	width			:45vw;
	height			:12vw;
	border-bottom	:0.5vw solid #fafafa;
	background		:#f1a0a5;
	text-align		:left;
	font-size		:0;
	cursor			:pointer;
}

.menu_i{
	font-family		: at_icon;
	display			:inline-block;
	position		:absolute;
	top				:0;
	margin			:0;
	width			:12vw;
	height			:12vw;
	line-height		:12vw;
	text-align		:center;
	font-size		:8vw;
	color			:#fafafa;
}

.menu_s{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:12vw;
	width			:33vw;
	height			:12vw;
	line-height		:12vw;
	text-align		:left;
	font-size		:6vw;
	color			:#fafafa;
	font-weight		:600;
}

.mypage_main{
	display			:inline-block;
	background		:#fafafa;
	width			:100vw;
	height			:100vh;
	max-width		:650px;
	margin			:0 auto;	
}

.login_box{
	display			:inline-block;
	width			:70%;
	border			:1vw solid #ffd0d0;
	box-shadow		:1vw 1vw 1vw rgba(30,30,30,0.6);
	border-radius	:2vw;
	margin			:10vh auto 4vw auto;
	padding			:1vw;
	background		:#fff0f5
	font-size		:5vw;
}

.login_name{
	display			:inline-block;
	width			:80%;
	font-size		:3.5vw;
	font-weight		:600;
	margin			:1vw auto 0.5vw 2vw;
	text-align		:left;
}

.login{
	width			:80%;
	font-size		:4.5vw;
	font-weight		:600;
	margin			:0 auto 0.5vw 1.5vw;
	height			:6vw;
}

.login_btn{
	width			:80%;
	font-size		:4vw;
	font-weight		:600;
	margin			:5vw auto;
	height			:8vw;
}

.mypage_on{
	background:#d00000 !important;
}

.head_mymenu{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:2vw;
	bottom			:0; 
	margin			:auto;

	width			:7vw;
	height			:7vw;
	line-height		:7vw;

	text-align		:center;
	background		:#f17766;
	color			:#ffffff;
	border-radius	:1vw;
	cursor			:pointer;
}

.mymenu_a{
	position		:absolute;
	top				:1vw;
	left			:1vw;
	height			:1vw;
	width			:5vw;
	background		:#fafafa;
	border-radius	:0.4vw;
	transform-origin:right;
}

.mymenu_b{
	position		:absolute;
	top				:3vw;
	left			:1vw;
	height			:1vw;
	width			:5vw;
	background		:#fafafa;
	border-radius	:0.4vw;
}

.mymenu_c{
	position		:absolute;
	top				:5vw;
	left			:1vw;
	height			:1vw;
	width			:5vw;
	background		:#fafafa;
	border-radius	:0.4vw;
	transform-origin:right;
}

.mypage_blog_set{
	width		:60vw;
	height		:10vw;
	font-size	:6vw;	
	font-weight	:600;
	color		:#f0f0f0;
	text-shadow	:1px 1px 0 rgba(30,30,30,0.8);
	background	:linear-gradient(#00a000,#008000);
}



/*-------------------------------------------------------------------*/
@media screen and (min-width: 560px) {

.head_mymenu{
	display:none;
}

.mypage_menu{
	width			:300px;
	height			:400px;
	padding			:20px;
	border-radius	:20px;
}

.login_box{
	border			:5px solid #ffd0d0;
	box-shadow		:5px 5px 5px rgba(30,30,30,0.6);
	border-radius	:10px;
	margin			:50px auto;
	padding			:5px;
}

.login_name{
	font-size		:16px;
	margin			:10px auto 5px 10px;
}

.login{
	font-size		:18px;
	margin			:0 auto 5px 15px;
	height			:30px;
}

.login_btn{
	width			:80%;
	font-size		:20px;
	margin			:15px auto;
	height			:40px;
}

.menu_1{
	width			:260px;
	height			:50px;
	line-height		:50px;
	font-size		:16px;
	border			:2px solid #fafafa;
	padding-left	:10px;
}


}
/*-------------------------------------------------------------------*/
@media screen and (min-width: 960px) {

.mypage_menu{
	width			:300px;
	height			:400px;
	padding			:20px;
	border-radius	:20px;
}

.login_box{
	border			:5px solid #ffd0d0;
	box-shadow		:5px 5px 5px rgba(30,30,30,0.6);
	border-radius	:10px;
	margin			:50px auto;
	padding			:5px;
}

.login_name{
	font-size		:16px;
	margin			:10px auto 5px 10px;
}

.login{
	font-size		:18px;
	margin			:0 auto 5px 15px;
	height			:30px;
}

.login_btn{
	width			:80%;
	font-size		:20px;
	margin			:15px auto;
	height			:40px;
}

.menu_1{
	width			:260px;
	height			:50px;
	line-height		:50px;
	font-size		:16px;
	border			:2px solid #fafafa;
	padding-left	:10px;
}

}
