a{
	text-decoration:none;
	color: initial;
}		

.timeline-Footer{font-size:0 !important}

ul {
	margin-block-start	:0;
	margin-block-end	:0;
	margin-inline-start	:0;
	margin-inline-end	:0;
	padding-inline-start:0;
}
.body{
	background	:#fafafa;
	text-align	:center;
	margin		:0;
	padding		:0;
	line-height	:1.2;
	color		:#333;
	font-size	:0;
	font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	text-align	:center;
	width		:99vw;
}

.midoku{
	display		:inline-block;
	color		:#fafafa;
	background	:#d00000;
	padding		:1px 3px;
	border-radius:2px;
}


.main{
	background	:#ffe0f0;
	text-align	:center;
	width		:1200px;
	min-height	:90vh;
	margin		:0 auto;
	padding-top	:70px;
	font-size	:0;
	vertical-align:top;
}

.main_mail{
	display			:inline-block;
	width			:850px;
	background		:#f0f0f0;
	height			:80vh;
	padding			:10px;
	overflow-y		:scroll;
	vertical-align	:top;
}

.main_sub{
	display		:inline-block;
	width		:300px;
	background	:#e0f0ff;
	min-height	:100vh;
	vertical-align:top;
}

.mail_box_a{
	padding-top:20px;
	position	:relative;
	display		:inline-block;
	width		:850px;
	margin		:10px auto;
	text-align	:left;
}

.mail_box_b{
	padding-top:20px;
	position	:relative;
	display		:inline-block;
	width		:850px;
	margin		:10px auto;
	text-align	:right;
}


.mail_box_face{
	display			:inline-block;
	position		:relative;
	min-height		:80px;	
	width			:80px;
	background		:#c0cc00;
	vertical-align	:top;
	overflow		:hidden;
	border-radius	:10px;
	border			:5px solid #ffe0f0;
	margin:3px 10px 0 5px;
}

.mail_box_img{
	position		:absolute;
	top				:0;
	left			:0;
	height			:80px;	
	width			:80px;
	background		:#e0e0ff;
}

.mail_box_log_1{
	position		:relative;
	display			:inline-block;
	width			:600px;
	background		:#fff0fa;
	border			:2px solid #d00000;
	margin			:0;
	font-size		:15px;
	line-height		:25px;
	border-radius	:10px 10px 30px 10px;
	padding			:10px 15px;
}

.mail_box_log_2{
	position		:relative;
	display			:inline-block;
	width			:600px;
	border			:2px solid #30e020;
	border-radius	:10px 10px 10px 30px;
	margin			:0;
	font-size		:15px;
	line-height		:25px;
	padding			:10px 15px;
	text-align		:left;
}

.mail_box_date_a{
	position	:absolute;
	top			:5px;
	left		:120px;
	height		:16px;
	line-height	:16px;
	font-size	:13px;
	font-weight	:600;
}
.mail_box_date_b{
	position	:absolute;
	top			:5px;
	right		:10px;
	height		:16px;
	line-height	:16px;
	font-size	:13px;
	font-weight	:600;
}
.easytalk_img{
	width	:300px;
	height	:100px;
}
.easytalk_text{
	width		:300px;
	height		:160px;
	resize		:none;
	font-size	:16px;
	padding		:5px;
	margin-top	:10px;
}



@media screen and (max-width: 559px){

.main{
	width			:98vw;
}

.main_mail{
	width			:96vw;
	min-height		:0;
	padding			:1vw;
	margin-bottom	:5vw;
	height			:auto;
	overflow-y		:auto;
}


.mail_box_a,.mail_box_b{
	padding-top		:5vw;
	width			:96vw;
	margin			:2vw auto;
}

.mail_box_date_a{
	top			:1vw;
	left		:16vw;
	height		:4vw;
	line-height	:4vw;
	font-size	:3vw;
}
.mail_box_date_b{
	top			:1vw;
	right		:2vw;
	height		:4vw;
	line-height	:4vw;
	font-size	:3vw;
}

.mail_box_face{
	min-height		:11vw;	
	width			:11vw;
	border-radius	:2vw;
	border			:1vw solid #ffe0f0;
	margin			:1vw 1vw 0 0.5vw;
}

.mail_box_img{
	width			:11vw;
}

.mail_box_log_1{
	width			:66vw;
	font-size		:3.5vw;
	line-height		:6vw;
	border-radius	:1vw 1vw 4vw 1vw;
	padding			:2vw 2vw 7vw 2vw;
}

.mail_box_log_2{
	width			:66vw;
	font-size		:3.5vw;
	line-height		:6vw;
	border-radius	:1vw 1vw 1vw 4vw;
	padding			:2vw 2vw 7vw 2vw;
}

.main_sub{
	width		:98vw;
	min-height	:0;
}


.easytalk_img{
	width	:96vw;
	height:auto;
}

.easytalk_text{
	width		:96vw;
	height		:40vw;
	font-size	:4.5vw;
	padding		:1vw;
	margin-top	:3vw;
}


.easytalk_img{
	display:none;

}

}

.bg{
	color			:#303030;
	background		:#30e020;
}

.bg1{
	color			:#000000;
	background		:#d0ffe0;
}

