
.person_main{
	display		:flex;
	width		:1200px;
	margin		:0 auto;
	text-align	:center;
	font-size	:0;
}
.person_left{
	display		:inline-block;
	position	:relative;
	width		:380px;
	flex-basis	:380px;
	min-height	:600px;	
	text-align	:left;
}

.person_middle{
	display			:inline-block;
	position		:relative;
	flex			:1;
	min-height		:600px;	
}

.person_right{
	display			:inline-block;
	position		:relative;
	flex-basis		:310px;
	min-height		:600px;	
	border			:1px solid #c8b880;
	margin-top		:8px;
	text-align		:center;
}

.person_blog_ttl{
	display			:inline-block;
	position		:relative;
	width			:310px;
	height			:35px;	
	line-height		:35px;	
	margin			:0;
	background		:#C8B880;
	color			:#fafafa;
	font-size		:20px;
	font-weight		:700;
}

.person_blog{
	display			:inline-block;
	position		:relative;
	width			:320px;
	height			:90px;	
	background		:#fafafa;
//	border			:1px solid #C8B880;
	border-bottom	:1px solid #C8B880;
	
}

.person_blog_img{
	position		:absolute;
	top				:5px;
	left			:5px;
	width			:80px;
	height			:80px;	
	background		:#e0e0e0;
}

.person_blog_date{
	display			:inline-block;
	position		:absolute;
	top				:2px;
	left			:90px;
	width			:150px;
	height			:22px;	
	line-height		:22px;	
	font-size		:12px;
	text-align		:left;
	font-weight		:700;
}

.person_blog_comm{
	display			:inline-block;
	position		:absolute;
	top				:2px;
	right			:2px;
	width			:50px;
	height			:20px;	
	line-height		:20px;	
	text-align		:left;
	color			:#C8B880;
	background		:rgba(255,255,255,0.8);
	border			:1px solid #C8B880;
}

.person_blog_i{
	display			:inline-block;
	width			:16px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	text-align		:center;
	font-family		:at_icon;
}

.person_blog_c{
	display			:inline-block;
	width			:32px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	text-align		:right;
}

.person_blog_title{
	display			:inline-block;
	position		:absolute;
	top				:30px;
	left			:90px;
	width			:210px;
	height			:50px;	
	line-height		:25px;	
	text-align		:left;
	font-size		:15px;
	overflow		:hidden;
}

.person_img_main{
	position		:absolute;
	top				:7px;
	left			:0;
	width			:360px;
	height			:480px;	
}

.person_img_list{
	position		:absolute;
	display			:inline-flex;
	top				:495px;
	left			:0px;
	width			:368px;
	height			:112px;
	font-size		:0;
}

.person_img_sub{
	width			:84px;
	height			:112px;
	margin-right 	:8px;
}

.prof{
	border-collapse: separate;
	border-spacing: 0px 8px;
	margin:0;
}

.prof_l{
	border-bottom:1px solid #C8B880;
	padding-left:10px;
	height		:26px;
	line-height	:30px;
	width		:150px;
	font-size	:16px;
	background	:#323232;
	color		:#C8B880;
}


.prof_r{
	border-bottom	:1px solid #C8B880;
	padding-left	:10px;
	height			:26px;
	line-height		:30px;
	width			:320px;
	font-size		:16px;
	background		:#272727;
	color			:#C8B880;
}
.sche{
	border-collapse: collapse;
	margin:10px 0;
}

.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5
{
//	border		:2px solid #303030;
	border-bottom:2px solid #202020;
	padding-left:10px;
	height		:26px;
	line-height	:30px;
	width		:150px;
	font-size	:14px;
	background	:#444444;
	color		:#C8B880;
}

.sche_l_0{
//	border		:2px solid #303030;
	border-bottom:2px solid #202020;
	padding-left:10px;
	height		:26px;
	line-height	:30px;
	width		:150px;
	font-size	:14px;
	background	:#444444;
	color		:#f0a080;
}

.sche_l_6{
//	border		:2px solid #303030;
	border-bottom:2px solid #202020;
	padding-left:10px;
	height		:26px;
	line-height	:30px;
	width		:150px;
	font-size	:14px;
	background	:#444444;
	color		:#90b8c0;
}


.sche_r_1,
.sche_r_2,
.sche_r_3,
.sche_r_4,
.sche_r_5
{
//	border		:2px solid #303030;
	border-bottom:2px solid #202020;
	padding-left:10px;
	height		:28px;
	line-height	:28px;
	width		:150px;
	font-size	:14px;
	background	:#272727;
	color		:#C8B880;
}

.sche_r_0
{
//	border		:2px solid #303030;
	border-bottom:2px solid #202020;
	padding-left:10px;
	height		:28px;
	line-height	:28px;
	width		:150px;
	font-size	:14px;
	background	:#272727;
	color		:#f0a080;
}

.sche_r_6
{
//	border		:2px solid #303030;
	border-bottom:2px solid #202020;
	padding-left:10px;
	height		:28px;
	line-height	:28px;
	width		:150px;
	font-size	:14px;
	background	:#272727;
	color		:#90b8c0;
}
@media screen and (max-width: 959px){
.person_main{
	flex-wrap	:wrap;
}


.person_main{
	width		:98vw;
}
.person_left{
	width		:380px;
	flex-basis	:380px;
	min-height	:600px;	
}

.person_middle{
	flex-basis:calc(100% - 400px);
}

.person_right{
	flex:1;
}

}
@media screen and (max-width: 559px){

.person_main{
	display:inline-block;
}

.person_left{
	width		:89vw;
	flex-basis	:89vw;
	height		:95vw;	
	min-height	:95vw;	
	text-align	:center;
	margin		:0 auto;
}

.person_middle{
	width		:89vw;
	flex-basis	:89vw;
	text-align	:center;
	min-height	:0;	
	margin		:2vw auto;
}

.person_right{
	width		:88vw;
	flex-basis	:88vw;
	min-height	:0;	
	margin		:0 auto;
}


.person_img_main{
	top				:0;
	left			:0;
	width			:70.5vw;
	height			:94vw;	
}

.person_img_list{
	align-content	:flex-start;
	flex-wrap		:wrap;
	top				:0;
	left			:72.5vw;
	width			:16.5vw;
	height			:96vw;
}

.person_img_sub{
	width			:16.5vw;
	height			:22vw;
	margin-right	:0;
	margin-bottom	:2vw;
}


.prof{
	border-spacing: 0px 1vw;
	margin:0 auto;
}

.prof_l{
	padding-left:1vw;
	height		:7vw;
	line-height	:7vw;
	width		:36vw;
	font-size	:3.8vw;
}


.prof_r{
	padding-left:1vw;
	height		:7vw;
	line-height	:7vw;
	width		:50vw;
	font-size	:3.8vw;
}

.sche{
	border-collapse: collapse;
	margin:1vw auto;
}

.sche_l_0,
.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5,
.sche_l_6
{
	padding-left:1vw;
	height		:7vw;
	line-height	:7vw;
	width		:36vw;
	font-size	:3.8vw;
}


.sche_r_0,
.sche_r_1,
.sche_r_2,
.sche_r_3,
.sche_r_4,
.sche_r_5,
.sche_r_6
{
	padding-left:1vw;
	height		:7vw;
	line-height	:7vw;
	width		:50vw;
	font-size	:3.8vw;
}


.person_blog_ttl{
	width			:88vw;
	height			:8vw;	
	line-height		:8vw;	
	font-size		:4vw;
}

.person_blog{
	width			:88vw;
	height			:20vw;
	margin-top		:0.5vw;
	
}

.person_blog_img{
	top				:1vw;
	left			:1vw;
	width			:18vw;
	height			:18vw;
}

.person_blog_date{
	top				:2.5vw;
	left			:20.5vw;
	width			:50vw;
	height			:4vw;	
	line-height		:4vw;	
	font-size		:4vw;
}

.person_blog_comm{
	display			:inline-block;
	position		:absolute;
	top				:1vw;
	right			:1vw;
	width			:20vw;
	height			:6vw;	
	line-height		:8vw;
}

.person_blog_i{
	width			:5vw;
	height			:6vw;
	line-height		:6vw;	
	font-size		:4vw;
}

.person_blog_c{
	width			:14vw;
	height			:6vw;
	line-height		:6vw;
	font-size		:4vw;
}

.person_blog_title{
	top				:8vw;
	left			:21vw;
	width			:66vw;
	height			:50px;	
	font-size		:4vw;
	line-height		:5.5vw;	
}

}
