.person_main{
	display		:flex;
	width		:1020px;
	margin		:50px auto;
	text-align:center;
}
.person_left{
	display		:inline-block;
	position	:relative;
	flex-basis	:350px;
	height		:570px;	
	background:#fafafa;
}

.person_middle{
	display			:inline-block;
	position		:relative;
	width			:400px;
	min-height		:500px;	
	background		:#fa00fa;
}

.person_right{
	display			:inline-block;
	position		:relative;
	width			:300px;
	min-height		:500px;	
	background		:#00fafa;
}

.person_img_main{
	width		:330px;
	height		:440px;	
	margin		:10px;
}

.person_img_list{
	position		:absolute;
	display			:inline-block;
	bottom			:5px;
	left			:5px;
	width			:340px;
	height			:110px;
	font-size:0;
	text-align		:left;
}

.person_img_sub{
	width			:75px;
	height			:100px;
	margin			:5px;
}
