.sys_box{
    display		:inline-block;
    width		:1180px;
    background	:#302520;
    text-align	:left;
    border		:1px solid #c8b880;
	padding		:10px;
	font-size	:0;
	margin		:10px auto;
}

.sys_box_ttl{
    display		:inline-block;
	font-size	:17px;
	font-weight	:800;
	color		:#c8b880;
	text-shadow	:1px 1px 0px rgba(30,30,30,0);
	padding		:5px 10px;
	border-bottom:double 2px #c8b880;
}

.sys_box_log{
    display		: inline-block;
	font-size	:15px;
	font-weight	:600;
	padding		:5px 10px;
	color		:#c8c8b8;
	text-shadow	:1px 1px 0px rgba(30,30,30,0);
}

.person_main{
	display		:flex;
	width		:1200px;
	margin		: 0 auto;
	text-align	:center;
	font-size	:0;
}
.person_left{
	display		:inline-block;
	position	:relative;
	width		:380px;
	flex-basis	:380px;
	min-height	:600px;	
	text-align	:left;
}

.person_middle{
	display			:inline-block;
	position		:relative;
	flex			:1;
	min-height		:600px;	
}

.person_right{
	display			:inline-block;
	position		:relative;
	flex-basis		:310px;
	min-height		:600px;	
	border			:1px solid #c8b880;
	margin-top		:8px;
	text-align		:center;
}

.person_blog_ttl{
	display			:inline-block;
	position		:relative;
	width			:310px;
	height			:35px;	
	line-height		:35px;	
	margin			:0;
	background		:#C8B880;
	color			:#fafafa;
	font-size		:20px;
	font-weight		:700;
}

.person_blog{
	display			:inline-block;
	position		:relative;
	width			:308px;
	height			:90px;	
	background		:#fafafa;
	border			:1px solid #C8B880;
	margin-top		:2px;
	
}

.person_blog_img{
	position		:absolute;
	top				:5px;
	left			:5px;
	width			:80px;
	height			:80px;	
	background		:#e0e0e0;
}

.person_blog_date{
	display			:inline-block;
	position		:absolute;
	top				:2px;
	left			:90px;
	width			:150px;
	height			:22px;	
	line-height		:22px;	
	font-size		:12px;
	text-align		:left;
	font-weight		:700;
}

.person_blog_comm{
	display			:inline-block;
	position		:absolute;
	top				:2px;
	right			:2px;
	width			:50px;
	height			:20px;	
	line-height		:20px;	
	text-align		:left;
	color			:#C8B880;
	background		:rgba(255,255,255,0.8);
	border			:1px solid #C8B880;
}

.person_blog_i{
	display			:inline-block;
	width			:16px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	text-align		:center;
	font-family		:at_icon;
}

.person_blog_c{
	display			:inline-block;
	width			:32px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	text-align		:right;
}

.person_blog_title{
	display			:inline-block;
	position		:absolute;
	top				:30px;
	left			:90px;
	width			:210px;
	height			:50px;	
	line-height		:25px;	
	text-align		:left;
	font-size		:15px;
	overflow		:hidden;
}

.person_img_main{
	position		:absolute;
	top				:7px;
	left			:0;
	width			:360px;
	height			:480px;	
}

.person_img_list{
	position		:absolute;
	display			:inline-flex;
	top				:485px;
	left			:0px;
	width			:368px;
	height			:112px;
	font-size		:0;
}

.person_img_sub{
	width			:84px;
	height			:112px;
	margin-right 	:8px;
}

.prof{
	border-collapse: separate;
	border-spacing: 0px 8px;
	margin:0 10px;
}

.prof_l{
	border-bottom:1px solid #C8B880;
	padding-left:10px;
	height		:26px;
	line-height	:30px;
	width		:130px;
	font-size	:16px;
	background	:#323232;
	color:#C8B880;
}


.prof_r{
	border-bottom	:1px solid #C8B880;
	padding-left	:10px;
	height			:26px;
	line-height		:30px;
	width			:270px;
	font-size		:16px;
	background		:#272727;
	color			:#C8B880;
}
.sche{
	border-collapse: collapse;
	margin:10px;
}

.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5
{
	border		:2px solid #303030;
	text-align	:center;
	height		:20px;
	line-height	:22px;
	width		:80px;
	font-size	:14px;
	background	:#323232;
	color		:#C8B880;
}

.sche_l_0{
	border		:2px solid #303030;
	text-align	:center;
	height		:20px;
	line-height	:22px;
	width		:80px;
	font-size	:14px;
	background	:#323232;
	color		:#f0a080;
}

.sche_l_6{
	border		:2px solid #303030;
	text-align	:center;
	height		:20px;
	line-height	:22px;
	width		:80px;
	font-size	:14px;
	background	:#323232;
	color		:#90b8c0;
}


.sche_r_1,
.sche_r_2,
.sche_r_3,
.sche_r_4,
.sche_r_5
{
	border		:2px solid #303030;
	padding-left:10px;
	height		:20px;
	line-height	:22px;
	width		:140px;
	font-size	:14px;
	background	:#272727;
	color		:#C8B880;
	font-weight	:600;
}

.sche_r_0
{
	border		:2px solid #303030;
	padding-left:10px;
	height		:20px;
	line-height	:22px;
	width		:140px;
	font-size	:14px;
	background	:#272727;
	color		:#f0a080;
	font-weight	:600;
}

.sche_r_6
{
	border		:2px solid #303030;
	padding-left:10px;
	height		:20px;
	line-height	:22px;
	width		:140px;
	font-size	:14px;
	background	:#272727;
	color		:#90b8c0;
	font-weight	:600;
}
@media screen and (max-width: 959px){

.person_main{
	width		:98vw;
}
.person_left{
	width		:380px;
	flex-basis	:380px;
	min-height	:600px;	
}

.person_middle{
	flex			:1;
}

.person_right{
	flex-basis		:310px;
}

}
@media screen and (max-width: 559px){

.person_main{
	flex-wrap	:wrap;
}

.person_left{
	width		:98vw;
	flex-basis	:98vw;
	height		:155vw;	
	min-height	:155vw;	
	text-align	:center;
	margin		:0 auto;
}

.person_middle{
	width		:94vw;
	flex-basis	:94vw;
	text-align	:center;
	min-height	:0;	
	margin		:2vw auto;
}

.person_right{
	width		:90vw;
	flex-basis	:90vw;
	min-height	:0;	
	margin		:0 auto;
}


.person_img_main{
	top				:5vw;
	left			:0vw;
	width			:69vw;
	height			:92vw;	
}

.person_img_list{
	flex-wrap		:wrap;
	top				:5vw;
	left			:71vw;
	width			:18vw;
	height			:92vw;
}

.person_img_sub{
	width			:15vw;
	height			:20vw;
}


.prof{
	border-spacing: 0px 1vw;
	margin:0 auto;
}

.prof_l{
	padding-left:2vw;
	height		:8vw;
	line-height	:8vw;
	width		:35vw;
	font-size	:4vw;
}


.prof_r{
	padding-left:2vw;
	height		:8vw;
	line-height	:8vw;
	width		:51vw;
	font-size	:4vw;
}

.sche{
	border-collapse: collapse;
	margin:1vw auto;
}

.sche_l_0,
.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5,
.sche_l_6
{
	border		:2px solid #303030;
	padding-left:2vw;
	height		:8vw;
	line-height	:8vw;
	width		:33vw;
	font-size	:4vw;
}


.sche_r_0,
.sche_r_1,
.sche_r_2,
.sche_r_3,
.sche_r_4,
.sche_r_5,
.sche_r_6
{
	border		:2px solid #303030;
	padding-left:2vw;
	height		:8vw;
	line-height	:8vw;
	width		:51vw;
	font-size	:4vw;
}




}
