*{
-webkit-appearance: none;
-webkit-text-size-adjust: 100%;
}

input:focus{
	border-color:#fafafa;
	background:#f0f0ff;
}

.body{
	text-align			:center;
	margin				:0;
	padding				:0;
	line-height			:1.2;
	color				:#333;
	font-size			:0;
	font-family			:"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	text-align			:center;
	width				:100vw;
}


.main{

}


.ban{
	display			:block;
	position		:relative;
	width			:calc ( 76vw + 20px);
	height			:calc ( 85vw + 20px);

	background		:linear-gradient(100deg, #D49E68, #DFB892 40%,#DEB690 100%);
	background		:#000000;
}


.masu{
	display			:inline-block;
	width			:8vw;
	height			:9vw;
	box-sizing		:border-box;
	background		:linear-gradient(100deg, #D49E68, #DFB892 40%,#DEB690 100%);
	border			:1px solid #303030;
}

.masu_c{
	display			:inline-block;
	width			:8vw;
	height			:4vw;
	line-height		:4vw;
	text-align		:center;
	box-sizing		:border-box;
	background		:linear-gradient(100deg, #D49E68, #DFB892 40%,#DEB690 100%);
	border-bottom	:1px solid #303030;
	vertical-align	:top;
	font-size:3vw;
}

.masu_cl{
	display			:inline-block;
	width			:4vw;
	height			:4vw;
	text-align		:center;
	box-sizing		:border-box;
	background		:linear-gradient(100deg, #D49E68, #DFB892 40%,#DEB690 100%);
	vertical-align	:top;
}
.masu_l{
	display			:inline-block;
	width			:4vw;
	height			:9vw;
	line-height		:9vw;
	text-align		:center;
	box-sizing		:border-box;
	background		:linear-gradient(100deg, #D49E68, #DFB892 40%,#DEB690 100%);
	border-left		:1px solid #303030;
	vertical-align	:top;
	font-size:3vw;
}


.koma{
	display			:inline-block;
	position		:absolute;
	width			:8vw;
	height			:9vw;
	overflow		:hidden;
}

.koma_on{
	background:rgba(200,100,100,0.5);
}

.koma_img{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:8vw;
}

.koma_img_r{
	width			:6vw;
}

.m_koma{
	display			:inline-block;
	position		:relative;
	width			:8vw;
	height			:7vw;
	margin-bottom	:3vw;
	text-align		:left;
}

.m_koma_c{
	position		:absolute;
	bottom			:-1vw;
	right			:0;
	display			:inline-block;
	width			:4.5vw;
	height			:4.5vw;
	line-height		:4.5vw;
	text-align		:center;
	border-radius	:2vw;
	color			:#fafafa;
	font-weight		:600;
	background		:rgba(120,40,60,0.6);
	font-size		:3vw;
}

.u1{
	transform:rotate(180deg);
}

td{
	padding	:0;

}
.waku{
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0px;
	font-size:0;
	padding:0;
}

.waku_top,.waku_bottom{
	height:8vw;
	background:#ff0000;
}

.waku_left,.waku_right{
	width		:10vw;
	background	:#ff00ff;
	position	:relative;
}

.waku_left{
	vertical-align:top;
}

.waku_right{
	vertical-align:bottom;
}

.waku_main{
	width	:calc(76vw+24px);
	height	:calc(85vw+24px);
}

.top_box{
	font-size:4.5vw;;
}

.box_text{
	height		:9vw;
	font-size	:4.5vw;
	width		:70vw;
	margin		:1vw;
}

.box_tag{
	display		:inline-block;
	width		:20vw;
	height		:9vw;
	line-height	:9vw;
	font-size	:4vw;
	line-height	:6vw;
	text-align:right;
	margin-right:1.5vw;
}

.c1{left:64vw;}
.c2{left:56vw;}
.c3{left:48vw;}
.c4{left:40vw;}
.c5{left:32vw;}
.c6{left:24vw;}
.c7{left:16vw;}
.c8{left:8vw;}
.c9{left:0vw;}

.l1{top:4vw;}
.l2{top:13vw;}
.l3{top:22vw;}
.l4{top:31vw;}
.l5{top:40vw;}
.l6{top:49vw;}
.l7{top:58vw;}
.l8{top:67vw;}
.l9{top:76vw;}


.hist_log{
	font-size		:3.5vw;
	height			:5vw;
	line-height		:5vw;
	border-bottom	:1px solid #303030;
	width			:45vw;
	margin			:0.5vw auto;
	text-align		:left;
}

.hist_count{
	height			:5vw;
	line-height		:5vw;
	width			:4vw;
	padding-right	:1vw;
	text-align		:right;
}

